body{
    background-color: rgba(228, 149, 217, 0.192);
}
h2,h3{
    font-style: italic;
}
h1{
    font-style: oblique;
}
h1,h2,h3{
    color: hwb(123 4% 46% / 0.548);
}
    hr {
        border-style: none;
        border-color: rgba(228, 149, 217, 0.192);
        
    height: 5px;
    border-width: 7px;
    }
   